main{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
}

.box{
    min-width: 100px;
    min-height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}