@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:wght@400;600;700&family=Lumanosimo&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font: 1.5rem 'Lumanosimo', cursive;
    min-height: 100vh;

    background-color: #333;
    background-image: radial-gradient(white, #333);
    display: flex;
    flex-direction: column;
}

header, nav, main, footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

main{
    flex-grow: 1;
}
header, footer{
    position: sticky;
    background-color: black;
    color: whitesmoke;
}
nav{
    background-color: white;
    color: black;
    border-bottom: 2px solid black;
}
header{
    top: 0;
}

footer{
    bottom: 0;
}

/* || SMALL */

@media (min-width: 567px){
    body{
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
    }
    nav{
        display: none;
    }
}

/* || SMALL */

@media (min-width: 769px) {
    body {
        background-color: goldenrod;
        background-image: radial-gradient(whitesmoke, goldenrod);
    }

    nav {
        display: block;
    }
}

/* || LARGE  */

@media (min-width: 992px) {
    body {
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
    }

    nav {
        display: block;
    }
}

/* || XL */

@media (min-width: 1024px) {
    body {
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }

    nav {
        display: block;
    }
}

/* || MOBILE DEVICE LANDSCAPE */

@media (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }
    h1, h2{
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
}