.positions{
    border: 4px dashed yellow;
    padding: 20px;
    margin: 2px;
    height: 240vh;
    position: relative;
}
.allpositions{
    border: 3px solid #333;
    margin: 5rem;
    padding: 2rem;
    height: auto;
}
.absolute{
    height: 100px;
    width: 100px;
    position:absolute;
    right: 100px;
    bottom: 30px;
    background-color: yellowgreen;
}
.relative{
    position: relative;
    height: 100px;
    width: 100px;
    bottom: 100px;
    right: 100px;
    background-color: aqua;

}

.fixed{
    height: 200px;
    width: 200px;
    position: fixed;
    background-color: green;
}
.sticky{
    height: 300px;
    width: 300px;
    background-color: blue;
    position: sticky;
    top: 100px;
}
img{
    height: 30px;
    width: 30px;
    border: 2px solid green;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 0;
}
.header{
    height: 100vh;
}
.title{
    background-color: #333;
    color: white;
    font-size: 2rem;
    font-family: monospace;
    text-align: center;
    align-items: center;
    height: 8vh;
    padding-top: 1.2rem;
    position: sticky;
    top: 0;
}
footer{
    background-color: green;
    /* position: fixed;
    bottom: 0; */
    bottom: 0;
    position: sticky;
    height: 8vh;
    text-align: center;
    align-items: center;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
footer ul li{
    display: inline-block;
    /* position: sticky;
    bottom: 0; */
    margin-top: 0.4rem;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 0px 10px;
}
a:hover{
    text-decoration: underline;
    color: red;
}
