*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CSS VARIABLES */

:root{
    /* Colors */
    --BGCOLOR: #333;
    --ALT-BGCOLOR: rebeccapurple;
    --RADIAL-COLOR: whitesmoke;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: black;
}

html{
    scroll-behavior:smooth;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
body{
    font: 1.5rem monospace;
    min-height: 100vh;
    background-color: #333;
    background-image: radial-gradient(whites
    , var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

/* header,
nav,
main,
footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
} */

header,
footer{
    position: sticky;
    background-color: #1e293b;
    color: white;
    text-align: center;
}

header{
    top: 0;
}
nav{
    background-color: white;
    color: #1e293b;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a, nav a:visited{
    color: black;
}

nav a:hover, nav a:focus{
    color: #f00;
    text-decoration: underline;
}
.card{
    scroll-margin-top: 8rem;
    width: min(100%, 400px);
    background-color: aliceblue;
    border-radius: 25px;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    border: 5px double #333;
    border-radius: 50%;
}
.card figcaption{
    font-weight: bolder;
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
}
.card:target{
    border: 3px solid rebeccapurple;
}
.card img:not([alt]){
    border: 6px solid yellow;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer{
    bottom: 0;
}

.card:last-child figcaption::after{
    content: '&copy;';
    display: block;
}

@media (min-width: 599px) and (orientation:portrait){
    main{
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .card{
        width: min(100%, 400px);
    }
    .card:last-child{
        order: -1;
    }
}

@media (min-width: 768px) and (orientation:portrait){
    nav{
        display: none;
    }
    .card{
        width: min(100%, 300px);
    }
    .card figure{
        flex-flow: column-reverse;
    }
    .card figcaption{
        margin: 0.1rem 0;
    }
    .card p{
        margin-top: 1rem;
    }
}

@media (min-width: 992px) and (orientation:portrait){
    .card{
        width: min(100%, 400px);
    }
    .card:nth-child(2){
        order: -1;
    }
}

@media (min-width: 1200px){
    .card{
        width: min(calc(33%-1rem), 500);
    }
}